#heading{
    text-align: center;
    /* background-color: cornflowerblue; */
}

body {
    /* min-height: 100vh; */
    background: rgb(242, 201, 182);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #f9f9f9; 
    text-decoration: none; 
}
  
a p:first-child {
    font-style: italic;
}